/*
*
*
*
*
*
*
*/


/* ===== Html Objects ===== */
body {
  background: url("../images/cafeteria.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  //opacity: 0.75;
}
li {
    list-style-type: none;
}

.top-row {
  height: 300px;
}

.form-div {
  width:800px;
  height: 100%;
  background-color: #fff;
  border-radius:10px;
  padding-top:20px;
  padding-left:50px;
  padding-right:50px;
  box-shadow: 2px 2px rgb(0, 27, 61, 0.75);
}

.form-div-vote {
  text-align: left;
  width:400px;
  height: 100%;
  background-color: #fff;
  border-radius:10px;
  padding-top:20px;
  padding-left:50px;
  padding-right:50px;
  box-shadow: 2px 2px rgb(0, 27, 61, 0.75);
}

.name-input {
  border-radius: 10px;
}
.text-label {
  position:relative;
  float:left;
  text-align: justify;
}
.text-input {
  position:relative;
  float:right;
  width:350px;
  height:40px;
  margin-top:-10px;
}
.btn-div {
  position:relative;
  width:100%;
  float:right;
  padding-top:10px;
  padding-bottom:20px;
}
.btn:focus {
  outline: none !important;
}
.btn-cus-submit {
  float:right;
  background-color: transparent;
  width:100px;
  height:30px;
  border-radius: 10px;
  color: #001b3D;
  border-color: #001b3D;
}

.btn-cus-submit-2 {
  float:right;
  background-color: transparent;
  width:125px;
  height:30px;
  border-radius: 10px;
  color: #001b3D;
  border-color: #001b3D;
}

.btn-cus-submit:hover {
  float:right;
  background-color: transparent;
  width:100px;
  height:30px;
  border-radius: 10px;
  color: rgb(0, 27, 61, 0.75);
  border-color: rgb(0, 27, 61, 0.75);
}

.btn-cus-submit-2:hover {
  float:right;
  background-color: transparent;
  width:125px;
  height:30px;
  border-radius: 10px;
  color: rgb(0, 27, 61, 0.75);
  border-color: rgb(0, 27, 61, 0.75);
}

.unstyled {
  padding-left:0 !important;
}
